<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span {
        margin: 10px 0;
        display: block;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <img src="https://i.imgur.com/oUAKMC5.png" alt="rentx_logo">
      <span>Hi, {{ name }}!</span>

      <br/>

      <span>You requested password change, right?</span>
      <span>To reset your password, click on the link below:
        <a href="{{ link }}">{{ link }}</a>
      </span>

      <span>If you were noty the one who request the password chage, just ignore this email.</span>

      <strong>Thanks!</strong>

      <h3>Team | <strong>Rentx</strong></h3>
    </div>
  </body>
</html>




